#
# Build ignores
#
.*
*.o
*.o.*
*.a
*.so
*.1.gz
Config.in

#
# Never ignore these
#
!.gitignore

#
# Normal output and testing dirs
#
/foo
/lzjb
/debug.log
/log.test.*
/out.*

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit

